html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.header, .login{
  width: calc(100%);
  height: 50px;
}
.div{
  width: calc(100%);
  height: 2428px;
}
.overlap{
  width: calc(100%);
  height: 616px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin:0 auto; 
}
.login .overlap {
  display: block;
}
.login .div {
  background-color: #ffffff;
  border: 1px none;
  /* overflow: ; */
  overflow: visible;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  /* position: relative; */
}
.menu {
  margin: 4px 5px 0 0;
}

.logo1 {
  color: white;
  justify-content: flex-start;
}

.menu li {
  float: left;
  width: 100px;
  text-align: center;
  list-style: none;
}

.menu a {
  display: block;
  text-decoration: none;
  /* padding: 10px 15px; */
  color: white;
  
  /* border: 1px grey solid; */
  transition: all .3s;
}
.menu .a1 {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  
  /* border: 1px grey solid; */
  transition: all .3s;
}
.menu .a2 {
  display: block;
  text-decoration: none;
  
  /* border: 1px grey solid; */
  transition: all .3s;
}
.menu .a1:hover, .menu .a1.active {
  background-color: #dc3b47;
  /* color: #dc3b47; */
}

.menu ul {
  display: none;
}

.menu>li:hover ul {
  display: block
}
.dropdown-open{
  display: none;
  position: relative;
  z-index: 30;
  margin-top: 10px;
  
}
.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100%);
}

.login .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1024px;
  position: relative;
  width: calc(100%);
}

.login .overlap {
  height: 937px;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100%);
}

.login .image {
  height: 882px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 55px;
  width: 1440px;
}

.login .rectangle {
  background-color: #000000;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.login .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 194px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.login .group {
  height: 559px;
  /* left: 301px; */
  /* position: absolute; */
  /* top: 203px; */
  
  
}
/* .login .main-container-column{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 559px;
  width: 848px;
} */
.login .overlap-group {
  /* padding: 40px;
  flex: 60%; */
  background-color: #d9d9d9;
  border-radius: 67px;
  height: 559px;
  position: relative;
  width: 838px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: auto!important;
  width: 848px;
}

.login .undraw-login-re {
  padding: 10px 0 10px 0;/*上右下左*/
  /* height: 269px; */
  /* left: 28px; */
  /* position: absolute; */
  /* top: 128px; */
  width: 379px;
}
.mb-4 {
  margin-bottom: 1.5rem!important;
}
.login .text-wrapper-2 {
  letter-spacing:10px;
  display: flex;
  color: #000000;
  /* font-weight: bold; */
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-weight: 400;
  /* left: 639px; */
  /* letter-spacing: 0; */
  line-height: normal;
  /* position: absolute;
  top: 63px; */
  width: 379px;
  justify-content: center;
  align-items: center;
  /* height: 23px; */
  padding: 0 0 15px 0;
}

.login .text-wrapper-3 {
  color: #000000;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-weight: 400;
  /* left: 468px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  top: 153px; */
  white-space: nowrap;
}

.login .text-wrapper-4 {
  color: #000000;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-weight: 400;
  /* left: 468px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  top: 229px; */
  white-space: nowrap;
}
.login .trolley {
  height: 42px;
  /* left: 1198px; */
  object-fit: cover;
  /* position: absolute; */
  padding: 0;
  /* top: 9px; */
  /* width: 40px; */
}
.login .pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 28px;
}
.form-signin-region{
  /* height: 200px; */
  width: 280px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 128px 0 0 61px;/*上右下左*/
}
/* .form-signin input[type="email"], .form-signin input[type="password"] {
/*  margin-bottom: -1px;
/*  border-bottom-right-radius: 0;
/*  border-bottom-left-radius: 0;
/*  margin: 0 0 24px 0;/*上右下左*/
/* }  */
.form-btn {
  height: 54px;
  width: 280px;
  margin: 20px 0px;
  background-color: #AD2321 ;
  color: white;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 24px 0;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.form-signin {
  height: 100px;
  width: 280px;
  /* border-bottom: 1px solid grey; */
  padding: 10px 0px 5px 0;
  position: relative;
  margin-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-row-field {
  color: gray;
  position: absolute;
  pointer-events: none;
  transition: 0.5s;
  top: 15px;
  margin-left: 2.5em;
  font-size: 20px;
}

.form-control {
  background-color: rgb(255, 239, 239);
  
  /* border-bottom: 3px solid rgba(72, 122, 180,  .7);
  border-left: 3px solid rgba(72, 122, 180,  .7); */
  display: block;
  position: absolute;
  top: 10px;
  transition: 0.5s;
  /* margin-left: 1.5em; */
  font-size: 20px;
  height: 80px;
  width: 250px;
  border-radius: 10px;
}
#checkEye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* .form-sigin labe{
  position: absolute;
  left: 10px;
  top: 10px;
} */
.form-control:focus ~ form-signin {
  /* top: 5px; */
  height:15px;
  /* font-size: 12px; */
  /* color: #003333; */
  /* font-weight: bold; */
  border: 3px solid rgba(180, 122, 180,  .7);
}
.form-control:focus {
  top: 5px;
  /* height:15px; */
  font-size: 18px;
  height: 50px;
  /* color: #003333; */
  font-weight: bold;
  border: 3px solid rgba(138, 72, 72, 0.2);
  /* border: 3px solid rgba(72, 122, 180,  .7); */
}

.form-control:focus~label {
  top: -25px;
  font-size: 15px;
  color: #003333;
  font-weight: bold;
}

.login .text-wrapper-5 {
  color: #33a4e8;
  font-family: Microsoft JhengHei;
  font-size: 16px;
  font-weight: 400;
  /* left: 649px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  top: 302px; */
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login .text-wrapper-6 {
  color: #33a4e8;
  font-family: Microsoft JhengHei;
  font-size: 16px;
  font-weight: 400;
  /* left: 657px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute;
  top: 333px; */
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login .rectangle-4 {
  background-color: #d9d9d9;
  height: 87px;
  /* left: 0; */
  position: absolute;
  bottom: 0px; 
  width: 100%;
}
.main-container{
  width: calc(100%);
  height: 882px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}