.payment {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100%);
  height: 1024px;
}
.payment .header {
  width: calc(100%);
  height: 50px;
}
.payment .workspace{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  background-image: url("./img/image-1.png");
  overflow: hidden;
  height: 1100px;
  width: calc(100%);
}
.payment .workspaceInnerbox{
  background-color: #f9f9f9;
  border-radius: 67px;
  height: 932px;
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin:0 auto; 
  margin-top: 49px;
}
.payment .fastsignin{
  height: 124px;
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.payment .text-wrapper-12 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 24px;
}
.payment .twoway{
  height: 50px;
  width: 688px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.payment .box{
  width: 238px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 17.17px 10px 17.17px;
}
.payment .box1{
  background: #3CD52E;
  border:#3CD52E 2px solid;
}
.payment .box2{
  background: #FFF;
  border:#E2E2E2 1px solid;
}

.payment .element-line {
  height: 36px;
  object-fit: cover;
  width: 39px;
}

.payment .google-icon-icons {
  height: 34px;
  object-fit: cover;
  width: 34px;
}

.payment .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-left: 9px;
}

.payment .text-wrapper-14 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-left: 9px;
}
.payment .separatealine{
  height: 17px;
  width: 652px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.payment .line {
  border: 1px solid #E2E2E2;
  height: 1px;
  /* left: 389px; */
  object-fit: cover;
  /* position: absolute;
  top: 257px; */
  width: 304px;
  margin: 0 17px 0 17px;
}
.payment .formControls{
  height: 750px;
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.payment .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  /* width: 188px; */
}
.payment label{
  display: block;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin: 7px 0 7px 0;
}
.payment .block input{
  background-color: #ffffff;
  border-radius: 48px;
  height: 50px;
  width: 485px;
}
.payment .overlap{
  width: calc(100%);
  height: 616px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin:0 auto; 
}
.payment .overlap {
  display: block;
}
.payment .div {
  width: calc(100%);
  /* height: 2428px; */
  background-color: #ffffff;
  border: 1px none;
  overflow: visible;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  /* position: relative; */
  height: 1024px;
  position: relative;
  width: calc(100%);
}
.payment .image {
  height: 882px;
  /* left: 0; */
  object-fit: cover;
  width: 1440px;
}
.payment .img {
  height: 874px;
  object-fit: cover;
  width: 1438px;
}
.payment .text-wrapper-16{
  width: 485.33px;
  height: 50px;
  border-radius: 48px;
  background: #212529;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4px;
  margin-top: 37px;
  margin-bottom: 27px;
}
.payment .agree{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  line-height: normal;
}
.payment .agree2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  line-height: normal;
}
.payment .text-wrapper-3,  .payment .text-wrapper-17, .payment .text-wrapper-19{
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.payment .text-wrapper-4, .payment .text-wrapper-18, .payment .text-wrapper-20 {
  color: #33a4e8;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}



